body, html {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Roboto";
  font-weight: normal;
  overflow-x: hidden;
  background-color: #95A5A5;
  color: #95989A; }

a {
  outline: none; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

.about__description:first-of-type {
  margin-top: 0; }

.main-content {
  color: #fff;
  padding: 0 40px; }

.news {
  margin-bottom: 20px; }
  .news:last-of-type {
    margin-bottom: 0; }
    .news:last-of-type .news__footer {
      border-bottom: none; }
  .news__thumbnail {
    border-radius: 5px; }
  .news__content {
    padding: 15px 0; }
  .news__meta {
    font-size: 12px; }
  .news__date {
    float: left;
    margin-right: 5px; }
  .news__categories-list {
    margin: 0;
    list-style-type: none;
    padding: 0; }
    .news__categories-list:before {
      content: '|';
      margin-right: 5px; }
  .news__categories-item {
    display: inline-block; }
    .news__categories-item:first-of-type:before {
      display: none; }
  .news__title {
    font-size: 22px;
    margin: 10px 0;
    line-height: 1.4;
    font-weight: 400; }
  .news__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #000; }
  .news__read-more {
    color: #000;
    text-decoration: none;
    font-size: 16px; }
  .news__data-list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .news__data-item {
    display: inline-block;
    margin-right: 5px; }
    .news__data-item i {
      margin-right: 5px; }

.gallery__item {
  margin-bottom: 20px; }
